<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/estatico/css/curriculo.css" media="screen"/>
</head>
<body>
    <div class="menu">
        <ul>
            <li><a href="/">Home</a> </li>
            <li><a href="/curriculo" >Curriculo</a> </li>
            <li><a href="/contato" >Contato</a> </li>
            <li><a href="/controle" >Area de controle</a> </li>
        </ul>
    </div>

    <div class="layout">
        <h1 class="titulos">Informações pessoais</h1>
        Bruno Vallone Orlandin<br><br>
        21 anos<br><br>
        (11) 970178426<br><br>
        São Bernardo do Campo - SP<br>
    </div>

    <div  class="layout">
        <h2 class="titulos">Informações acadêmicas</h2>
        ETEC Jorge Street - Ensino Médio<br><br>
        Intercâmbio cultural 10 meses - Wadena - Minnesota - EUA<br><br>
        Ciência da Computação - Centro Universitário FEI<br><br>
    </div>

    <div  class="layout">
        <h3 class="titulos">Habilidades</h3>
        Python - Intermediário<br><br>
        Javascrip - Intermediário<br><br>
        HTML - Intermediário<br><br>
        CSS - Intermediário<br><br>
        Java - Básico<br><br>
        C++ - Básico<br><br>
    </div>

    <div  class="layout">
        <h4 class="titulos">Idiomas</h4>
        Inglês - Fluente<br><br>
        Espanhol - Básico<br><br>
    </div>

    <div  class="layout">
        <h5 class="titulos">Experiência profissional</h5>
        DAP Diadema Auto Peças - Auxiliar administrativo - 9/2017 até 5/2019<br><br>
    </div>





</body>
</html>