<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" type="text/css" href="/estatico/css/home.css" media="screen"/>
</head>
<body>

<div class="menu">
    <ul>
        <li><a href="/">Home</a> </li>
        <li><a href="/curriculo" >Curriculo</a> </li>
        <li><a href="/contato" >Contato</a> </li>
        <li><a href="/controle" >Area de controle</a> </li>
    </ul>
</div>

<h1>Bem vindo ao meu site!</h1><br>

<div class="texto">
    Meu nome é Bruno Vallone Orlandin
</div>

<div class="texto">
    Este site foi idealizado como forma de aprendizado na disciplina de Desenvolvimeno Web
</div>

<div class="texto">
    Nele você pode conferir meu currículo e deixar uma mensagem caso tenha interesse
</div>

</body>
</html>