body {
    margin: 0;
    border: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    width: 21%;
}

li {
    float: left;
    border-right: 1px solid #bbb;

}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover:not(.active) {
    background-color: #111;
}

li:last-child {
    border-right: none;
}

.active {
    background-color: #4CAF50;
}

h1{
    text-align: center;
    font-size: 45px;
    color: darkblue;
}

.texto{
    margin-right: 0px;
    margin-top: 0px;
    margin-left: 280px;
    margin-bottom: 100px;
    display: flex;
    flex-direction: column;
    font-family: fantasy;
    font-size: 35px;
}

body{
    background-color: darkgrey;
}